body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
  background: #fff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Header */

header {
  border-bottom: 1px solid #e7e9fc;
}

.header-item {
  display: inline-block;
}

.header-item-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.studio-span {
  color: #2e2f42;
  padding: 24px 0;
}

.contacts {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  display: inline-block;
  margin-right: 0;
  padding: 24px 0;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Section 1 */
.title-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--WHITE, #fff);
  background-color: #2e2f42;
  width: 100%;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title-text {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Why WebStudio(Section 2) */

.hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-sec {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-list {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.advantages-section-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.advantages-item-container {
  display: inline-block;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-left: 0;
  padding-right: 0;
}

.advantages-p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Our team(section 3) */
.our-team-sec {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-sec-container {
  margin-bottom: 32px;
}

.our-team {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.section-team-list {
  display: flex;
  gap: 24px;
}

.our-team-img {
  background-color: #ffffff;
  margin-bottom: 32px;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0px 0px 4px 4px;
  display: block;
}

.our-workers {
  padding-top: 32px;
  padding-bottom: 32px;
}

.our-team-list {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-list-p {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-align: center;
}

/* Our Portfolio (Section 4) */

.our-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-container {
  display: flex;
  flex-direction: column;
}

.our-portfolio {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-apps-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0px;
}

.our-portfolio-li {
  width: calc((100% - 4 * 24) / 6);
}

.our-portfolio-img {
  display: flex;
  width: 360px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  display: block;
}

.app-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-t {
  margin-bottom: 8px;
}

.our-portfolio-p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Footer */
.footer {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: #f4f4fd;
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  padding-top: 100px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.studio-span_ {
  color: #f4f4fd;
}

.footer-class {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
